@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "通知中心";
    ViewBag.flgStyle = "note";
}
<script type="text/javascript">
    $(function () {
        var pageModel = new SXNU_ViewModel_Index_Notice($);
        ko.applyBindings(pageModel, $("#NoticePage")[0]);

    });
</script>
<div class="show_h"></div>
<div class="wrapper m-t30 m-b30">
    <div><img src="~/Content/images/center.jpg"></div>

    <div class="content">
        <div class="wrapper" id="NoticePage">
            <div class="main" data-bind="foreach:$root.newNotice">

                <div class="year" data-bind="attr:{class:$index()==0?'year':'year closes'}">
                    <h1 class="title"></h1>
                    <h2><a href="#" data-bind="text:N_Year()+'年'"></a></h2>
                    <div class="list">
                        <ul data-bind="foreach:YearList">
                            <li class="cls">
                                <p class="date" data-bind="text:No_md">03/26</p>
                                <p class="intro" data-bind="text:no_Title"></p>
                                <p class="version">&nbsp;</p>
                                <div class="more">
                                    <p ><!--ko text: no_Content--><!--/ko--><span class="m-l20 red"><a data-bind="attr:{href:'/Notice/NoticeDetail?ID='+no_ID}">查看详情</a></span></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
