@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutQues.cshtml";
    ViewBag.flgStyle = "q";
    ViewBag.Title = "问卷管理-问卷管理列表";
}
<script type="text/javascript">
    $(function () {
        var pageModel = new SXNU_ViewModel_Ques4($);
        ko.applyBindings(pageModel, $("#ko_Question")[0]);
    });
</script>

<div class="right p-w92" id="ko_Question">
    <div class="admin_name admin_zi">问卷管理 -- <span>创建问卷</span></div>
    <div class="admin_frame min_h">
        <div class="newly">
            <ul>
                <li><a href="/admin/Question/Step1?ID=@ViewBag.WJ_ID">1.填写问卷基本信息</a></li>
                <li><a href="/admin/Question/Step2?ID=@ViewBag.WJ_ID">2.答卷人信息设置</a></li>
                <li><a href="/admin/Question/Step3?ID=@ViewBag.WJ_ID">3.添加试题</a></li>
                <li><a class="newly_hover" href="/admin/Question/Step4?ID=@ViewBag.WJ_ID">4.规则设置</a></li>
                <li><a href="/admin/Question/Group?ID=@ViewBag.WJ_ID">5.组别设置</a></li>
                <div class="clear"></div>
            </ul>
        </div>
        <div class="clear"></div>
        <input type="hidden" value="@ViewBag.WJ_ID" id="WJ_ID" name="WJ_nID" />
        <table border="0" cellspacing="0" cellpadding="0" width="100%" class="volume_list">
            <tr>
                <td>题号</td>
                <td class="p-w25"><b>试题信息</b></td>
                <td class="p-w20"><b>移动</b></td>
                <td class="p-w35"><b>操作</b></td>
                @*<td><b>备注说明</b></td>*@
            </tr>
        </table>

        <table id="mytable" border="0" cellspacing="0" cellpadding="0" width="100%" class="volume_list">
            <tbody data-bind="foreach:$root.s4_DataArray">
                <tr data-bind="style:{ backgroundColor: $index() % 2 ==0? '#f7f8fa' : '#FFFFFF' }">
                    <td data-bind="text:showNumber"> </td>
                    <td class="p-w25" data-bind="text:Title"> </td>
                    <td class="p-w20" data-bind="value:index = $index()"><span class="vol_ico10 newly_span" data-bind="click:$root.ST_up">上移</span><span class="vol_ico11 newly_span" data-bind="click:$root.ST_down">下移</span></td>
                    <td class="p-w35">
                        <span class="ico vol_ico3 m-r20"><a href="javascript:void(0)" data-bind="attr: { href:'/Admin/Question/Modst?sjid='+ID+'&wjid='+wj_ID }">修改</a></span>
                        <span class="ico_red vol_ico4 m-r20"><a href="javascript:void(0)" data-bind="click:$root.Delete_SJ">删除</a></span>

                        @*<span class="ico vol_ico14 m-r20" data-bind="visible:pageing=='y'"><a href="javascript:void(0)" data-bind="click:function(){ $root.Set_Pageing(this)}">添加分页</a></span>
                            <span class="hei vol_ico14 m-r20" data-bind="visible:pageing=='n'"><a href="#" data-bind="click:function(){ $root.Set_Pageing(this)}">取消分页</a></span>*@

                        
                        <span class="ico vol_ico14 m-r20" data-bind="visible:pageing=='n'"><a href="javascript:void(0)" data-bind="click: $root.Set_Pageing">添加分页</a></span>
                        <span class="hei vol_ico14 m-r20" data-bind="visible:pageing=='y'"><a href="#" data-bind="click: $root.Set_Pageing">取消分页</a></span>
                        
                        
                        <span class="hei vol_ico9 m-r20" data-bind="visible:!IsShowSl"><a href="javascript:void(0)" data-bind="click:$root.Cancel_Sleep">取消休息</a></span>
                        <span class="ico vol_ico9 m-r20" data-bind="visible:IsShowSl"><a class=" button button-big bg-main dialogs" data-bind="click:$root.Set_Sleep" href="#">设置休息</a></span>
                         
                        <!-- ko if: type==1 -->
                        <span class="ico vol_ico15" data-bind="visible:IsShowRe"><a class="button button-big bg-main dialogs" data-bind="click:$root.Set_Relation" href="#">相加关联</a></span>
                        <span class="ico_red vol_ico15" data-bind="visible:!IsShowRe"><a href="#" data-bind="click:$root.Del_Relation">删除关联</a></span>
                        <!-- /ko -->
                    </td>
                    @*<td>选A跳转至第3题，选B跳转至第3题，选C跳转至第3题，选D跳转至第3题</td>*@
                </tr>
            </tbody>
        </table>


        @*<div class="w-100 centers m-t40">
            <input type="submit" value="保存问卷" class="a_red w-120" />
        </div>*@
    </div>




    <div class="dialog" id="s4_sleep" title="设置休息">
        <div class="dialog-body m-t10 m-b10">
            <div class="m-l25" style="font-size: 15px;">提示：设置后，系统将在该题答完后进入答卷休息状态。</div>
            <div class="m-t15">
                <div class="inf_left w-100"><span class="ind_red">*</span> 提示文字：</div>
                <textarea class="inf_textarea w-460 left" name="" cols="20" rows="3" data-bind="value:Sleep_Notify"></textarea>
                <div class="clear"></div>
            </div>
            <div class="m-t15">
                <div class="inf_left w-100"><span class="ind_red">*</span> 休息时间：</div>
                <input value="" class="inf_text w-300 left" type="text" maxlength="2" data-bind="value:Sleep_Time">
                <div class="left m-l10 m-t8">秒</div>
                <div class="clear"></div>
            </div>
            <div class="w-100 centers m-t40">
                <input value="提 交" class="a_red w-120" type="button" data-bind="click:submit_Sleep">
            </div>
        </div>
    </div>



    <div class="dialog" id="s4_relation" title="添加关联">
        <div class="dialog-body m-t10 m-b10">
            @*<span class="vol">本题剩余时间：<span class="wly_red">00:00</span></span>*@
            <div class="newly_gl " data-bind="foreach:$root.ShowSTInfo">
                <!-- 视频图片绑定模板-->
                <script type="text/html" id="pv_temp">
                    <li data-bind="if: pvp.t=='v'">
                        @*<video width="400" height="130" controls="controls" preload="auto" data-bind="attr:{src:$root.pv_Path()+pvp.n}"></video>*@
                        <div data-bind="attr:{id: pvp.n.replace('.','')}"></div>
                    </li>
                    <li data-bind="if: pvp.t=='p'">
                        <div class="left"></div><img style="width:310px;height:200px" data-bind="attr:{src:$root.pv_Path()+pvp.n}">
                    </li>
                </script>


                <!-- ko if:  type()==1 -->
                <h3 class="vol_col"><!--ko text: ShowNum()+'、'+wt_Title()--><!--/ko-->@*<span class="vol" data-bind="visible:wt_LimitTime!=0">本题剩余时间/秒：<span class="wly_red"><!--ko text: wt_LimitTime--><!--/ko--></span></span>*@</h3>
                <div class="lume_img m-t10">
                    <ul data-bind="template: { name: 'pv_temp', foreach: Title_pic_vido, as: 'pvp' }"></ul>
                    <div class="clear"></div>
                </div>
                <div class="wly_volume vol_col">
                    <ul data-bind="foreach:wt_Options">
                        <li>
                            <div class="w-390 left"><input type="radio" value=" " data-bind="attr:{name:'dxst_'+$parent.dbID()}" /><!--ko text: item--><!--/ko--></div>
                            <div class="right">
                                跳转至
                                <select class="inf_textxx w-80" data-bind="value: r">
                                    <option  value="">请选择</option>
                                    <!-- ko foreach:$root.Relation_NumList -->
                                    <option data-bind="value:ID,text: showNumber"></option> <!-- /ko -->
                                </select> 题
                            </div>
                        </li>
                        <ul data-bind="template: { name: 'pv_temp', foreach: pv, as: 'pvp' }"></ul>
                    </ul>
                    <ul data-bind="foreach:wt_OtherItem">
                        <li>
                            <div class="w-390 left"><input type="radio" name="" value="" data-bind="attr:{name:'dxst_'+$parent.dbID()}"><!--ko text: item--><!--/ko--><input class="vol_inp w-330" value=""></div>
                            <div class="right">
                                跳转至
                                <select class="inf_textxx w-80" data-bind="value: r">
                                    <option value="">请选择</option>
                                    <!-- ko foreach:$root.Relation_NumList -->
                                    <option data-bind="value:ID,text :showNumber"></option> <!-- /ko -->
                                </select> 题
                            </div>
                        </li>
                        <ul data-bind="template: { name: 'pv_temp', foreach: pv, as: 'pvp' }"></ul>
                    </ul>
                </div>
                <!-- /ko -->
                <!-- ko if:  type()==2 -->
                <h3 class="vol_col"><!--ko text: ShowNum()+'、'+wt_Title()--><!--/ko-->@*<span class="vol" data-bind="visible:wt_LimitTime!=0">本题剩余时间/秒：<span class="wly_red"><!--ko text: wt_LimitTime--><!--/ko--></span></span>*@</h3>
                <div class="lume_img m-t10">
                    <ul data-bind="template: { name: 'pv_temp', foreach: Title_pic_vido, as: 'pvp' }"></ul>
                    <div class="clear"></div>
                </div>
                <div class="wly_volume vol_col">
                    <ul data-bind="foreach:wt_Options">
                        <li>
                            <div class="w-390 left"><input type="checkbox" /><!--ko text:item--><!--/ko--></div>
                        </li>
                        <ul data-bind="template: { name: 'pv_temp', foreach: pv, as: 'pvp' }"></ul>
                    </ul>
                    <ul data-bind="foreach:wt_OtherItem">
                        <li>
                            <div class="w-390 left"><input type="checkbox"> <!--ko text: item--><!--/ko--><input class="vol_inp w-330" value=""></div>
                        </li>
                        <ul data-bind="template: { name: 'pv_temp', foreach: pv, as: 'pvp' }"></ul>
                    </ul>
                </div>
                <!-- /ko -->

            </div>
            <div class="clear"></div>
            <div class="w-100 centers m-t40">
                <input value="提 交" class="a_red w-120" type="button" data-bind="click:$root.Submited_Relation">
            </div>
        </div>
    </div>
</div>

