@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutQues.cshtml";
    ViewBag.flgStyle = "q";
    ViewBag.Title = "问卷管理-问卷管理列表";
}
<script type="text/javascript">
    $(function () {
        var pageModel = new SXNU_ViewModel_Ques4($);
        ko.applyBindings(pageModel, $("#ko_Question")[0]);
    });
</script>

<div class="right p-w92" id="ko_Question">
    <div class="admin_name admin_zi">问卷管理 -- <span>创建问卷</span></div>
    <div class="admin_frame min_h">
        <div class="newly">
            <ul>
                <li><a href="/admin/Question/Step1?ID=@ViewBag.WJ_ID">1.填写问卷基本信息</a></li>
                <li><a href="/admin/Question/Step2?ID=@ViewBag.WJ_ID">2.答卷人信息设置</a></li>
                <li><a href="/admin/Question/Step3?ID=@ViewBag.WJ_ID">3.添加试题</a></li>
                <li><a class="newly_hover" href="/admin/Question/Step4?ID=@ViewBag.WJ_ID">4.规则设置</a></li>
                <div class="clear"></div>
            </ul>
        </div>
        <div class="clear"></div>
        <input type="hidden" value="@ViewBag.WJ_ID" id="WJ_ID" name="WJ_nID" />
        <table border="0" cellspacing="0" cellpadding="0" width="100%" class="volume_list">
            <tr>
                <td class="p-w25"><b>试题信息</b></td>
                <td class="p-w20"><b>移动</b></td>
                <td class="p-w35"><b>操作</b></td>
                <td><b>备注说明</b></td>
            </tr>
        </table>

        <table id="mytable" border="0" cellspacing="0" cellpadding="0" width="100%" class="volume_list">
            <tbody data-bind="foreach:$root.s4_DataArray">
                <tr>
                    <td class="p-w25" data-bind="text:Title">
                        【单选题】试题标题试题标题试题标题试题标题试题标题试题标题试题标题试题
                        试题标题试题标题试题标题
                    </td>
                    <td class="p-w20"><span class="vol_ico10 newly_span">上移</span><span class="vol_ico11 newly_span">下移</span></td>
                    <td class="p-w35">
                        <span class="ico vol_ico3 m-r20"><a href="#">修改</a></span>
                        <span class="ico_red vol_ico4 m-r20"><a href="#">删除</a></span>
                        <span class="ico vol_ico14 m-r20"><a href="#">添加分页</a></span>

                        <span class="hei vol_ico9 m-r20"><a href="#">取消休息</a></span>
                        <span class="ico vol_ico15"><a class="button button-big bg-main dialogs" data-toggle="click" data-target="#mydialogs" data-mask="1" data-width="640px" href="#">相加关联</a></span>
                    </td>
                    <td>选A跳转至第3题，选B跳转至第3题，选C跳转至第3题，选D跳转至第3题</td>
                </tr>
                @*<tr>
                <td class="p-w25">
                    【单选题】试题标题试题标题试题标题试题标题试题标题试题标题试题标题试题
                    试题标题试题标题试题标题
                </td>
                <td class="p-w20"><span class="vol_ico10 newly_span">上移</span><span class="vol_ico11 newly_span">下移</span></td>
                <td class="p-w35">
                    <span class="ico vol_ico3 m-r20"><a href="#">修改</a></span>
                    <span class="ico_red vol_ico4 m-r20"><a href="#">删除</a></span>
                    <span class="hei vol_ico14 m-r20"><a href="#">取消分页</a></span>

                    <span class="ico vol_ico9 m-r20"><a class="button button-big bg-main dialogs" data-toggle="click" data-target="#mydialog" data-mask="1" data-width="640px" href="#">设置休息</a></span>
                    <span class="ico_red vol_ico15"><a href="#">删除关联</a></span>
                </td>
                <td>选A跳转至第3题，选B跳转至第3题，选C跳转至第3题，选D跳转至第3题</td>
            </tr>
            <tr>
                <td class="p-w25">
                    【单选题】试题标题试题标题试题标题试题标题试题标题试题标题试题标题试题
                    试题标题试题标题试题标题
                </td>
                <td class="p-w20"><span class="vol_ico10 newly_span">上移</span><span class="vol_ico11 newly_span">下移</span></td>
                <td class="p-w35">
                    <span class="ico vol_ico3 m-r20"><a href="#">修改</a></span>
                    <span class="ico_red vol_ico4 m-r20"><a href="#">删除</a></span>
                    <span class="hei vol_ico14 m-r20"><a href="#">取消分页</a></span>

                    <span class="ico vol_ico9 m-r20"><a class="button button-big bg-main dialogs" data-toggle="click" data-target="#mydialog" data-mask="1" data-width="640px" href="#">设置休息</a></span>
                    <span class="ico vol_ico15"><a href="#">删除关联</a></span>
                </td>
                <td></td>
            </tr>
            <tr>
                <td class="p-w25">
                    【单选题】试题标题试题标题试题标题试题标题试题标题试题标题试题标题试题
                    试题标题试题标题试题标题
                </td>
                <td class="p-w20"><span class="vol_ico10 newly_span">上移</span><span class="vol_ico11 newly_span">下移</span></td>
                <td class="p-w35">
                    <span class="ico vol_ico3 m-r20"><a href="#">修改</a></span>
                    <span class="ico_red vol_ico4 m-r20"><a href="#">删除</a></span>
                </td>
                <td></td>
            </tr>
            <tr>
                <td class="p-w25">
                    【单选题】试题标题试题标题试题标题试题标题试题标题试题标题试题标题试题
                    试题标题试题标题试题标题
                </td>
                <td class="p-w20"><span class="vol_ico10 newly_span">上移</span><span class="vol_ico11 newly_span">下移</span></td>
                <td class="p-w35">
                    <span class="ico vol_ico3 m-r20"><a href="#">修改</a></span>
                    <span class="ico_red vol_ico4 m-r20"><a href="#">删除</a></span>
                </td>
                <td></td>
            </tr>*@
            </tbody>
            </table>


                <div class="w-100 centers m-t40">
                    <input type="submit" value="保存问卷" class="a_red w-120" />
                </div>
    </div>
</div>

<script language="javascript">
window.onload=function showtable(){
var tablename=document.getElementById("mytable");
var li=tablename.getElementsByTagName("tr");
for (var i=0;i<=li.length;i++){
if (i%2==0){
li[i].style.backgroundColor="#f7f8fa";
}else li[i].style.backgroundColor="#FFFFFF";
}
}
</script>

<div id="mydialog">
    <div class="dialog">
        <div class="dialog-head">
            <strong>设置休息</strong><span class="close rotate-hover"></span>
        </div>

        <div class="dialog-body m-t10 m-b10">
            <div class="m-l25" style="font-size: 15px;">提示：设置后，系统将在该题答完后进入答卷休息状态。</div>
            <div class="m-t15">
                <div class="inf_left w-100"><span class="ind_red">*</span> 提示文字：</div>
                <textarea class="inf_textarea w-460 left" name="" cols="20" rows="3">请输入休息提示文字</textarea>
                <div class="clear"></div>
            </div>
            <div class="m-t15">
                <div class="inf_left w-100"><span class="ind_red">*</span> 休息时间：</div>
                <input value="请输休息时间" class="inf_text w-300 left" type="">
                <div class="left m-l10 m-t8">秒</div>
                <div class="clear"></div>
            </div>
            <div class="w-100 centers m-t40">
                <input value="提 交" class="a_red w-120" type="submit">
            </div>
        </div>

    </div>
</div>

<div id="mydialogs">
    <div class="dialog">
        <div class="dialog-head">
            <strong>添加关联</strong><span class="close rotate-hover"></span>
        </div>

        <div class="dialog-body m-t10 m-b10">
            <span class="vol">本题剩余时间：<span class="wly_red">00:00</span></span>
            <div class="newly_gl">
                <h3>1、您的专业方向是什么？请选择最贴近您实际的一项：<div class="right m-t4"><img src="~/Content/images/admin/img16.png"></div></h3>
                <div class="lume_img m-t10">
                    <ul>
                        <li><img src="~/Content/images/img5.jpg"></li>
                        <li><img src="~/Content/images/img6.jpg"></li>
                        <li><img src="~/Content/images/img5.jpg"></li>
                    </ul><div class="clear"></div>
                </div>
                <div class="lume_list">
                    <ul>
                        <li><div class="w-390 left"><input checked="checked" name="" value="male" type="radio"> 艺术与文化（例如：设计、文艺、音乐等）</div><div class="right">跳转至 <input class="inf_textxx w-40" value=""> 题</div></li>
                        <li><div class="w-390 left"><input name="" value="male" type="radio"> 人文科学（例如：历史学、哲学、语言学等）</div><div class="right">跳转至 <input class="inf_textxx w-40" value=""> 题</div></li>
                        <li><div class="w-390 left"><input name="" value="male" type="radio"> 经济与社会科学（例如：经济学、心理学、教育学等）</div><div class="right">跳转至 <input class="inf_textxx w-40" value=""> 题</div></li>
                        <li><div class="w-390 left"><input name="" value="male" type="radio"> 物理与工程科学（例如：物理学、化学、工程学、计...</div><div class="right">跳转至 <input class="inf_textxx w-40" value=""> 题</div></li>
                        <li><div class="w-390 left"><input name="" value="male" type="radio"> 其它科学</div><div class="right">跳转至 <input class="inf_textxx w-40" value=""> 题</div></li>
                    </ul>
                </div>
            </div>
            <div class="w-100 centers m-t40">
                <input value="提 交" class="a_red w-120" type="submit">
            </div>
        </div>
    </div>
</div>
