@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutQues.cshtml";
    ViewBag.flgStyle = "q";
    ViewBag.Title = "问卷管理-问卷管理列表";
}
<script type="text/javascript">
    $(function () {
        var pageModel = new SXNU_ViewModel_Ques2($);
        ko.applyBindings(pageModel, $("#ko_Question")[0]);
    });
</script>

<div class="right p-w92" id="ko_Question">
    <div class="admin_name admin_zi">问卷管理 -- <span>创建问卷</span></div>
    <input type="hidden" value="@ViewBag.WJ_ID" id="WJ_ID" name="WJ_nID" />
    <div class="admin_frame min_h">
        <div class="newly">
            <ul>
                <li><a href="/admin/Question/Step1?ID=@ViewBag.WJ_ID">1.填写问卷基本信息</a></li>
                <li><a class="newly_hover" href="/admin/Question/Step2?ID=@ViewBag.WJ_ID">2.答卷人信息设置</a></li>
                <li><a href="/admin/Question/Step3?ID=@ViewBag.WJ_ID">3.添加试题</a></li>
                <li><a href="/admin/Question/Step4?ID=@ViewBag.WJ_ID">4.规则设置</a></li>
                @*<li><a href="/admin/Question/Group?ID=@ViewBag.WJ_ID">5.组别设置</a></li>*@
                <div class="clear"></div>
            </ul>
        </div>
        <div class="clear"></div>
        <div class="newly_name">请按照以下内容要求完成答卷人信息配置：</div>
        <div class="newly_prompt m-t15">
            温馨提示：<br>
            1.若展现类型是文本框或多行文本框，则规则设置需要填写内容的字数限制，此时规则设置可以为空，采用默认设置，即多行文本框不超过255个字符，文本框字数无限制；若展现类型是单选按钮或多选按钮或下拉菜单，则规则设置需要填写内容项，此时规则设置不能为空，填写时内容项之间需要以&nbsp;&nbsp; | &nbsp;&nbsp;隔开；<br>
            2.是否为必填项默认为否；
        </div>
        <table border="0" cellspacing="0" cellpadding="0" width="100%" class="m-t20 newly_title">
            <tr>
                <td class="p-w20"><b>字段名称</b></td>
                <td class="p-w20"><b>展现类型</b></td>
                <td class="p-w20"><b>规则设置</b></td>
                <td class="p-w15"><b>是否必填项</b></td>
                <td><b>操作</b></td>
            </tr>
        </table>
        <table border="0" cellspacing="0" cellpadding="0" width="100%" class="newly_table">
            <tr>
                <td class="p-w20" ><input type="text" class="inf_text p-w100 left" data-bind="value:'姓名',enable:false" /></td>
                <td class="p-w20">
                    <select class="inf_text p-w100" data-bind="  value: '文本框',enable:false ">
                        <option>文本框</option>
                        <option>单选按钮</option>
                        <option>下拉菜单</option>
                    </select>
                </td>
                <td class="p-w20"><input type="text" class="inf_text p-w100 left" data-bind="enable:false" /></td>
                <td class="p-w15"><input checked="checked" type="radio" value="1" name="name_r" data-bind="checked: $root.name_ck" /> 是&nbsp;&nbsp;&nbsp;&nbsp; <input type="radio" value="0" name="name_r" data-bind="checked: $root.name_ck" /> 否</td>
                <td>
                   
                </td>
            </tr>
        </table>
        <table border="0" cellspacing="0" cellpadding="0" width="100%" class="newly_table">
            <tbody data-bind="foreach:$root.s2_DataArray">
                <tr data-bind="style:{ backgroundColor: $index() % 2 ==0? '#f7f8fa' : '#FFFFFF' }">
                    <td class="p-w20" data-bind="value:id = $index()"><input type="text" class="inf_text p-w100 left" data-bind="value:b1" /></td>
                    <td class="p-w20">
                        <select class="inf_text p-w100" data-bind="options: $root.ControlsType ,  value: b2 ">
                            <option>文本框</option>
                            <option>单选按钮</option>
                            <option>下拉菜单</option>
                        </select>
                    </td>
                    <td class="p-w20"><input type="text" class="inf_text p-w100 left" data-bind="value:b3" /></td>
                    <td class="p-w15"><input checked="checked" type="radio" value="1" data-bind="checked: ck, attr: { name: nid }" /> 是&nbsp;&nbsp;&nbsp;&nbsp; <input type="radio" value="0" data-bind="checked: ck, attr: { name: nid }" /> 否</td>
                    <td>
                        <span class="vol_ico10 hande_s2" data-bind="event:{click:up}">上移</span>
                        <span class="vol_ico11 hande_s2" data-bind="event:{click:down}">下移</span>
                        <span class="hande_s2" style="padding-top:10px;" data-bind="event:{click:add}"><img src="~/Content/images/admin/img12.png"></span>
                        <span class="hande_s2" data-bind="visible:$index()!=0,event:{click:del}"><img src="~/Content/images/admin/img13.png"></span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="w-100 centers m-t40">
            <input type="submit" value="提 交" class="a_red w-120" data-bind="click:Submited_Step2" />
        </div>
    </div>
</div>
