@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "修改密码";
    ViewBag.flgStyle = "a";
} 
<script type="text/javascript">
    $(function () {
        var pageModel = new SXNU_ViewModel_ChangePWD($);
        ko.applyBindings(pageModel, $("#change_pwd")[0]);

    });
</script>
<div class="right p-w92" id="change_pwd">
    <div class="admin_name admin_zi">个人信息 -- <span>密码修改</span></div>
    <div class="admin_frame h-400">
        <div class="m-b15">
            <div class="inf_left w-140"><span class="ind_red">*</span> 输入旧密码：</div>
            <input type="password" class="inf_text w-450 left" data-bind="value:$root.oldPWD" />
            <div style="display:none" data-bind="visible:$root.IsError()==1?true:false" class="left m-l15 ind_wrong"><span><img src="~/Content/images/admin/wrong.jpg"></span><!--ko text: $root.ErrorMsg--><!--/ko--></div>
            <div class="clear"></div>
        </div>
        <div class="m-b15">
            <div class="inf_left w-140"><span class="ind_red">*</span> 输入新密码：</div>
            <input type="password" class="inf_text w-450 left" data-bind="value:$root.newPWD" />
            <div style="display:none" data-bind="visible:$root.IsError()==2?true:false" class="left m-l15 ind_wrong"><span><img src="~/Content/images/admin/wrong.jpg"></span><!--ko text: $root.ErrorMsg--><!--/ko--></div>
            <div class="clear"></div>
        </div>
        <div class="m-b15">
            <div class="inf_left w-140"><span class="ind_red">*</span> 再次输入密码：</div>
            <input type="password" class="inf_text w-450 left" data-bind="value:$root.repeatPWD" />
            <div style="display:none" data-bind="visible:$root.IsError()==3?true:false" class="left m-l15 ind_wrong"><span><img src="~/Content/images/admin/wrong.jpg"></span><!--ko text:$root.ErrorMsg--><!--/ko--></div>
            <div class="clear"></div>
        </div>
        <div class="w-100 centers m-t40">
            <input type="submit" value="提 交" class="a_red w-120"  data-bind="click:$root.ChangePWD"/>
        </div>
    </div>
</div>
