@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "陕师大-智能测评系统";
    ViewBag.flgStyle = "index";
}
<script type="text/javascript">
    $(function () {
        var pageModel = new SXNU_ViewModel_Index($);
        ko.applyBindings(pageModel, $("#indexPage")[0]);

    });
</script>
<div class="conter p-t38 p-b60" id="indexPage">
    <div class="wrapper white p-b10">
        <div class="p-l10 p-r10 p-t15 p-b15">
            <div class="blue"><img class="left" src="~/Content/images/latest.jpg"><a href="/Notice/Notice"><img class="right" src="~/Content/images/more.jpg"></a><div class="clear"></div></div>
        </div>
        <div class="p-l10 p-r10 p-b15">
            <ul class="ind_new" data-bind="foreach:$root.newNotice">
                <li><a data-bind="text:no_Title,attr:{href:'/Notice/NoticeDetail?ID='+no_ID}">企业员工满意度调查问卷通知</a><span data-bind="text:no_PublicTime"></span></li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="p-l10 p-r10 p-t15 p-b15">
            <div class="blue"><img class="left" src="~/Content/images/quest.jpg"><a href="/Ques/Ques"><img class="right" src="~/Content/images/more.jpg"></a><div class="clear"></div></div>
        </div>
        <div class="ind_oub m-t15 p-l5" id="questionList">
            <ul data-bind="foreach:$root.newQuestion">
                <li>
                    <div class="pos_rel">
                        <img style="width:310px;height:200px" data-bind="attr:{src:wj_BeginPic}"><div class="pos_abs nameb"><a href="#" data-bind="text:wj_Title"></a></div>
                        <div  style="display: none" data-bind="attr:{name: IsExpire}">
                            <h2 class="m-b10 m-t5" data-bind="text:wj_Title">企业员工满意度调查</h2><!--ko text:'项目来源：'+wj_ProjectSource--><!--/ko--><br>
                            <!--ko text:'有效期：'+wj_ValidStart+'-'+wj_ValidEnd --><!--/ko--><br><!--ko text:'发布者：'+wj_Sponsor --><!--/ko--><br>
                            <!--ko text:'发布时间：'+wj_PublishTime --><!--/ko--><br>
                            <button class="ind_bott m-t10" data-bind="text:IsExpire=='y'?'已过期':'进行中'"></button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="clear"></div>
    </div>
</div>
