@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "问卷中心";
    ViewBag.flgStyle = "ques";
}
<script type="text/javascript">
    $(function () {
        var pageModel = new SXNU_ViewModel_Index_BaseInfo($);
        ko.applyBindings(pageModel, $("#QuestionPage")[0]);

    });
</script>
<div class="show_h"></div>
<div class="wrapper m-t30 m-b150" id="QuestionPage">
    <input type="hidden" value="@Model.wj_ID" id="wj_id">
    <table class="tale">
        <tbody >
            <tr >
                <td width="250" align="right"><span data-bind="visible:$root.Nameck()=='1'?true:false">*</span>&nbsp;&nbsp;姓名&nbsp;：</td>
                <td><input class="input" data-bind="value:$root.NameVal" maxlength="10"></td>
            </tr>
            <!-- ko foreach:$root.ControlList -->
            <tr data-bind="if: ty() =='文本框'">
                <td width="250" align="right"><span data-bind="visible:ck()=='1'?true:false">*</span>&nbsp;&nbsp;<!--ko text: tit--><!--/ko-->&nbsp;：</td>
                <td><input class="input" data-bind="value:iv,attr:{maxlength:val}" ></td>
            </tr>



            <tr data-bind="if:ty() =='单选按钮'">
                <td align="right"><span data-bind="visible:ck()=='1'?true:false">*</span>&nbsp;&nbsp; <!--ko text: tit--><!--/ko--> &nbsp;：</td>
                <td>
                    <!-- ko foreach:list -->
                    <input type="radio" data-bind="value: $data,attr:{name:$parent.name},checked:$parent.iv" /><!--ko text:$data --><!--/ko--> &nbsp;&nbsp;&nbsp;
                    <!-- /ko -->
                </td>
            </tr>

            <tr data-bind="if:ty() =='下拉菜单'">
                <td align="right"><span data-bind="visible:ck()=='1'?true:false">*</span>&nbsp;&nbsp;<!--ko text: tit--><!--/ko-->&nbsp;：</td>
                <td>
                    <select name="select" class="input" data-bind="options: list,value: iv"></select>
                </td>
            </tr>
            <!-- /ko -->
        </tbody>
    </table>
    <div class="center m-t30"><input class="sub w-120" type="submit" name="" data-bind="click:$root.GoTwoStep" value="下一步"></div>
</div>
