@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "问卷中心";
    ViewBag.flgStyle = "ques";
}

<div class="show_h"></div>
<div class="wrapper m-t30 m-b150">
    <div class="show_name m-t30 p-b10"><h2>@Model.wj_Title</h2></div>
    <div class="m-t25 show_con">
        @Html.Raw(Model.wj_BeginBody)
    </div> 
    <div class="center m-t30"><input class="sub w-120" type="button"   onclick="GoTwoStep()" value="立即测试"></div>
</div>
<script  type="text/javascript">
    function GoTwoStep() {
        window.location.href = "/Ques/QuesTwoStep?ID=@Model.wj_ID";
    }

</script>